<?xml version="1.0" encoding="UTF-8"?>
<?include Variables.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="$(var.ProductCode)" 
           Name="$(var.ProductName)" 
           Language="1049" 
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)" 
           UpgradeCode="$(var.UpgradeCode)">
    
    <Package InstallerVersion="200" 
             Compressed="yes" />

    <Media Id="1" 
           Cabinet="media1.cab" 
           EmbedCab="yes" />
    
    <!-- Directory structure -->
    <Directory Id="TARGETDIR" 
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MyProgramDir" 
                   Name="$(var.ProductName)" />
        <Directory Id="ProgramMenuFolder">
          <Directory Id="MyShortcutsDir"
                     Name="Awesome Software" />
        </Directory>
      </Directory>
    </Directory>

    <!-- Components -->
    <DirectoryRef Id="MyProgramDir">
      <Component Id="CetbixCVD.exe" Guid="48b8784b-9554-40cc-a54c-b02e334587a3">
        <File Id="CetbixCVD.exe" Name="CetbixCVD.exe" Source="$(var.MainPath)\CetbixCVD.exe" />
      </Component>
      <Component Id="CetbixCVD.exe.config" Guid="cc687b94-0bdd-47fd-b568-dfb72fe933a9">
        <File Id="CetbixCVD.exe.config" Name="CetbixCVD.exe.config" Source="$(var.MainPath)\CetbixCVD.exe.config" />
      </Component>
      <Component Id="LicenseCheckerCustomAction.dll" Guid="03ae4258-84f8-4ca6-b2e4-eb512e3a6ac3">
        <File Id="LicenseCheckerCustomAction.dll" Name="LicenseCheckerCustomAction.dll" Source="$(var.MainPath)\LicenseCheckerCustomAction.dll" />
      </Component>
      <Component Id="EPPlus.dll" Guid="fc4fc0c5-ec9c-450c-993a-649f80a16b7b">
        <File Id="EPPlus.dll" Name="EPPlus.dll" Source="$(var.MainPath)\EPPlus.dll" />
      </Component>
      <Component Id="Microsoft.Deployment.WindowsInstaller.dll" Guid="1d307818-4188-4a52-b661-f109404a405c">
        <File Id="Microsoft.Deployment.WindowsInstaller.dll" Name="Microsoft.Deployment.WindowsInstaller.dll" Source="$(var.MainPath)\Microsoft.Deployment.WindowsInstaller.dll" />
      </Component>
    </DirectoryRef>
    
    <!-- Start Menu Shortcuts -->
    <DirectoryRef Id="MyShortcutsDir">
      <Component Id="CMP_DocumentationShortcut"
                 Guid="33741C82-30BF-41AF-8246-44A5DCFCF953">
        <Shortcut Id="DocumentationStartMenuShortcut"
                  Name="Awesome Software Documentation"
                  Description="Read Awesome Software Documentation"
                  Target="[MyProgramDir]InstallMe.txt" />
        <Shortcut Id="UninstallShortcut"
                  Name="Uninstall InstallPractice"
                  Description="Uninstalls Awesome Software"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]" />
        <RemoveFolder Id="RemoveMyShortcutsDir"
                      On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\AwesomeSoftware"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
    
    <!--Features-->
    <Feature Id="ProductFeature"
             Title="Main Product"
             Level="1">
      <ComponentRef Id="CetbixCVD.exe" />
      <ComponentRef Id="CetbixCVD.exe.config" />
      <ComponentRef Id="LicenseCheckerCustomAction.dll" />
      <ComponentRef Id="EPPlus.dll" />
      <ComponentRef Id="Microsoft.Deployment.WindowsInstaller.dll" />
      <ComponentRef Id="CMP_DocumentationShortcut" />
    </Feature>
    <UI Id="UserInterface">
      <Property Id="WIXUI_INSTALLDIR" Value="MyProgramDir" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />
    </UI>
    <UIRef Id="WixUI_InstallDir" />
  </Product>
</Wix>